<div class="grid grid-rows-4 gap-4">

  <h1 class="text-3xl font-bold underline">
    Welcome To Ryote
  </h1> 

  <div>
    <h2>File Listener Status: <%= @file_listener.processing? %></h2>
  </div>


  <div>
    <p class="text-lg">
      my shot at making notetaking easy, fun and pretty
    </p>
  </div>

    <h3>Required Actions</h3>
    <ul>
      <li>FileParser</li>
      <ul><li>Get an about page rendered from Readme to work</li></ul>
      <li>HtmlToMdConverter</li>
      <li>FileSorter</li>
    </ul>  

    <h3>Required Abstractions</h3>
    <ul>
      <li>Tag and Categories Tree</li>
      <li>...</li>
    </ul>

</div>
