<div>
  <h1>Welcome To Ryote</h1> 
  <p>

    <p>my shot at making notetaking easy, fun and pretty</p>

    <h3>Required Actions</h3>
    <ul>
      <li>FileParser</li>
      <ul><li>Get an about page rendered from Readme to work</li></ul>
      <li>HtmlToMdConverter</li>
      <li>FileSorter</li>
    </ul>  

    <h3>Required Abstractions</h3>
    <ul>
      <li>Tag and Categories Tree</li>
      <li>...</li>
    </ul>

    <button type="button" 
            class="btn btn-lg btn-danger" 
            data-bs-toggle="popover" 
            title="Popover title" 
            data-bs-content="Amazing content, right ?">
            Click to toggle popover
    </button>  

  </p>
</div>
