<div>
  <h1>Welcome To Ryote</h1> 
  <p>

  <div>
    <h2>File Listener Status: <%= @file_listener.processing? %></h2>
  </div>

  <%= link_to "Notes", notes_path(), class: "btn btn-info" %>

    <p>my shot at making notetaking easy, fun and pretty</p>

    <h3>Required Actions</h3>
    <ul>
      <li>FileParser</li>
      <ul><li>Get an about page rendered from Readme to work</li></ul>
      <li>HtmlToMdConverter</li>
      <li>FileSorter</li>
    </ul>  

    <h3>Required Abstractions</h3>
    <ul>
      <li>Tag and Categories Tree</li>
      <li>...</li>
    </ul>
  </p>
</div>
