<div class="box-content h-16 bg-slate-800 rounded-lg p-2 text-justify align-middle">
  <div class="grid grid-cols-6 justify-items-start p-2 text-slate-50 bg-inherit">

    <div class="bg-inherit hover:bg-slate-700 p-2 rouned-lg"> 
      <%= link_to "Notes", notes_path() , class: "navbar-brand"%>   
    </div>
    <div class="bg-inherit hover:bg-slate-700 p-2 rouned-lg"> 
      <%= link_to "Home", root_path() , class: "nav-link active" %> 
    </div>
    <div class="bg-inherit hover:bg-slate-700 p-2 rouned-lg"> 
      <%= link_to "Tags", tags_path() , class: "nav-link active" %> 
    </div>

  </div>

</div>
